@{
    ViewData["Title"] = "Main";
}

<h1>Main page</h1>

<a asp-controller="Home" asp-action="Index">Change account</a><br>
<a asp-controller="DailyTasks" asp-action="Index">Daily Tasks</a><br>
<a asp-controller="DailyTasksHistory" asp-action="Index">Daily Tasks History</a><br>
<a asp-controller="GeneralTasks" asp-action="Index">General Tasks</a><br>
<a asp-controller="GeneralTasksHistory" asp-action="Index">General Tasks History</a><br>
