@using DailyPlanner.Models

@model MainModel
@{
    ViewData["Title"] = "Main";
}

<h1>Main page</h1>

<a asp-controller="Home" asp-action="Index">Change account</a><br>
<a asp-controller="DailyTasks" asp-action="Index">Daily Tasks</a><br>
<a asp-controller="DailyTasksHistory" asp-action="Index">Daily Tasks History</a><br>
<a asp-controller="GeneralTasks" asp-action="Index">General Tasks</a><br>
<a asp-controller="GeneralTasksHistory" asp-action="Index">General Tasks History</a><br>

<div>
    <h2>@Model.Login</h2>
</div>

<form method="post" asp-controller="Main" asp-action="SaveChanges">
    <div>
        <button>Sava Changed Quote</button>
        <textarea cols="30" rows="10" asp-for="MotivationalQuote"></textarea>
    </div>
</form>

<div>
    <span>Closes Task:</span><br>
    <span>@Model.ClosesGeneralTask.TaskDescription</span><br>
    <span>@Model.ClosesGeneralTask.DeadLineString</span><br>
    <span>@Model.ClosesGeneralTask.ExecutionDateString</span>
</div>
