@using DailyPlanner.Models

@model DailyTaskModel
@{
    ViewData["Title"] = "Daily Tasks";
}

<h1>Daily Tasks</h1>
<a asp-controller="Main" asp-action="Index">Back to Main</a>

<form method="post" asp-controller="DailyTasks" asp-action="Index">
    <div>
        <textarea cols="30" rows="10" asp-for="TaskDescription"></textarea>
        <select asp-for="Importance">
            <option value="Important">Important</option>
            <option value="Optional">Optional</option>
        </select>
        <select asp-for="Status">
            <option value="NotMarked"></option>
            <option value="Completed">Completed</option>
            <option value="PartlyCompleted">PartlyCompleted</option>
            <option value="NotStarted">NotStarted</option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
