@using DailyPlanner.Models

@model User
@{
    ViewData["Title"] = "Sign up";
}

<div class="container">
    <h2>Sign Up</h2>

    <form method="POST" asp-action="index" asp-controller="SignUp">
        <div>
            <label asp-for="Login">Login</label>
            <input type="text" asp-for="Login">
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input type="text" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <button type="submit">Sign up</button>
        </div>
    </form>

    <a asp-action="Index" asp-controller="Home">
        Already have account? Sign In!
    </a><br><br>

    @if(ViewData["ContainsUser"] != null && 
        (bool)ViewData["ContainsUser"]! == true)
    {
        <span>Account already exists</span>
    }
</div>
