@using DailyPlanner.Models

@model UserModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="container">
    <h2>Sign Up</h2>

    <form method="POST" asp-action="index" asp-controller="SignUp">
        <div>
            <label asp-for="UserLogin">Login</label>
            <input type="text" asp-for="UserLogin">
            <span asp-validation-for="UserLogin"></span>
        </div>
        <div>
            <label asp-for="UserPassword">Password</label>
            <input type="text" asp-for="UserPassword">
            <span asp-validation-for="UserPassword"></span>
        </div>
        <div>
            <button type="submit">Sign up</button>
        </div>
    </form>

    <a asp-action="Index" asp-controller="Home">
        Already have account? Sign In!
    </a><br><br>

    @if(Model != null && Model.HasUserInDb) 
    {
        <span>Account already exists</span>
    }
</div>
