@using DailyPlanner.Models

@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Sign In</h2>
    
    <form method="POST" asp-action="index" asp-controller="Home">
        <div>
            <label asp-for="UserLogin">Login</label>
            <input type="text" asp-for="UserLogin">
            <span asp-validation-for="UserLogin"></span>
        </div>
        <div>
            <label asp-for="UserPassword">Password</label>
            <input type="text" asp-for="UserPassword">
            <span asp-validation-for="UserPassword"></span>
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>
    </form>

    <a asp-action="Index" asp-controller="SignUp">
        Not registered yet? Sign Up!
    </a><br><br>

    @if(Model != null && !Model.HasUserInDb)
    {
        <span>Incorrect login or password</span>
    }
</div>
