@using DailyPlanner.Models

@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Sign In</h2>
    
    <form method="POST" asp-action="index" asp-controller="Home">
        <div>
            <label asp-for="Login">Login</label>
            <input type="text" asp-for="Login">
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input type="text" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>
    </form>

    <a asp-action="Index" asp-controller="SignUp">
        Not registered yet? Sign Up!
    </a><br><br>

    @if (ViewData["ContainsUser"] != null && 
        (bool)ViewData["ContainsUser"]! == false)
    {
        <span>Incorrect login or password</span>
    }
</div>
