<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>@ViewData["Title"] - DailyPlanner</title>
</head>
<body>
    @RenderBody()

    <script>
        function setCurrentMonthTasksList(month, year){
            const currentMonthInput = document.getElementById("currentMonthInput");
            const submitButton = document.getElementById("submitButton");

            currentMonthInput.value = month + "." + year;
            submitButton.submit();
        }
    </script>
</body>
</html>
