<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>@ViewData["Title"] - DailyPlanner</title>
</head>
<body>
    @RenderBody()

    <script>
        function setCurrentMonthTasksList(month, year){
            const currentMonthInput = document.getElementById("currentMonthInput");

            currentMonthInput.value = month + "." + year;
        }
        function setCurrentDate(day, month, year){
            const currentDateInput = document.getElementById("currentDateInput"); 
            
            currentDateInput.value = day + "." + month + "." + year;
        }
    </script>
</body>
</html>
